<!DOCTYPE html>
html(lang="es")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Prueba Gulp
        link(rel="stylesheet", href="./assets/css/index.css")
    body
        h1 Esta es una prueba de Gulp
    
        <script id="__bs_script__">//<![CDATA[document.write("<script async src='http://HOST:3000/browser-sync/browser-sync-client.js?v=2.26.7'><\/script>".replace("HOST", location.hostname));//]]></script>

        